
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700");

// Toastr
@import "~toastr/toastr";
//Dist
@import '../dist/css/components.css';
@import '../dist/css/custom.css';
@import '../dist/vendors/bootstrapvalidator/css/bootstrapValidator.min.css';
@import '../dist/vendors/wow/css/animate.css';
@import '../dist/css/pages/login.css';
@import '../dist/vendors/select2/css/select2.min.css';
@import '../dist/css/pages/tables.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css';
@import 'https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css';